/* Global */
/* Sets Box Sizing to stop borders adding extra funky jam */
* {
    box-sizing: border-box;
}

/* Define global CSS variables for setting grid sizes (use '--' to access it
from javascript) */
:root {
  --rowCount: 16;
  --colCount: 16;
  --rowSelect: 2;
  --colSelect: 2;
}

/* Grid */

.masterGrid {
  display: grid;
  background-color: black;
  padding: 1px;
  width: 80vmin;
  height: 80vmin;
  grid-template-columns: repeat(var(--colCount), auto);
  grid-template-rows:  repeat(var(--rowCount), auto);
}

.cell {
  margin: 1px;
  background-color: purple;
  border-radius: 15px;
  grid-column-start: auto;
  grid-row-start: auto;
}

.cellYellow {
  background-color: yellow;
}
