/* Global */
/* Sets Box Sizing to stop borders adding extra funky jam */
* {
    box-sizing: border-box;
}

/* Define global CSS variables for setting grid sizes (use '--' to access it
from javascript) */
:root {
  --rowCount: 16;
  --colCount: 16;
  --rowSelect: 2;
  --colSelect: 2;
}

html {
  font-family: 'Glass Antiqua';
  font-size: 3vmin;
}

body {
  margin: 0;
  padding: 0;
}

.title1 {
  font-size: 1.3em;
  font-weight: bolder;
  color: yellow;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;

}

.title2 {
  font-size: 1.4em;
  font-weight: bolder;
  text-decoration: underline;
  color: yellow;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.title3 {
  font-size: 2em;
  font-weight: bolder;
  color: yellow;
  text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;
}

/* Grid for page layout */

.containerAll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.containerRed {
  display: grid;
  border: 1vmin solid black;
  border-radius: 10vmin;
  background-color: red;
  width: 100vmin;
  height: 80vmin;
  grid-template-columns: 19vmin 60vmin 19vmin;
  grid-template-rows: 12vmin 20vmin 20vmin 10vmin 10vmin;
  grid-template-areas:
    'header header header'
    'left main right'
    'left main right'
    'left main right'
    'left-btm main right-btm';
  align-items: center;
}

.header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.header1 {
  transform: rotate(340deg);
  flex: 0 0 23vmin;
}

.header2 {
  flex: 0 0 54vmin;
}

.header3 {
  flex-grow: 0;
  flex: 0 0 23vmin;
}

.left {
  grid-area: left;
  align-self: center;
}

.left-btm {
  grid-area: left-btm;
}

.right {
  grid-area: right;
}

.right-btm {
  grid-area: right-btm;
}

.main {
  grid-area: main;
  align-self: ;
}

.footer {
  grid-area: footer;
  background-color: green;
}

/* 2nd grid in "main" for the main etch functionality */

.masterGrid {
  grid-area: main;
  display: grid;
  border: 1.5vmin solid black;
  border-radius: 3.5vmin;
  background-color: black;
  padding: 0.5vmin;
  width: 60vmin;
  height: 60vmin;
  grid-template-columns: repeat(var(--colCount), auto);
  grid-template-rows:  repeat(var(--rowCount), auto);
}

.cell {
  margin: 0.15vmin;
  border-radius: 1vmin;
  background-color: white;
  grid-column-start: auto;
  grid-row-start: auto;
}

/* cell colours */

.cellBlack {
  background-color: black;
}

/* Input text boxes & buttons */

input[type=text] {
  margin: 1vmin;
  border: 0.3vmin solid black;
  border-radius: 1vmin;
  padding: 0.5vmin;
  width: 5vmin;
  font-size: 1.8vmin;
  text-align: center;
}

button {
  border: 1vmin solid black;
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  background-color: white;
  color: black;
  font-family: 'Glass Antiqua';
  font-weight: bolder;
  font-size: 4vmin;
  align-self: center;
}
