/* Global */
/* Sets Box Sizing to stop borders adding extra funky jam */
* {
    box-sizing: border-box;
}

/* Define global CSS variables for setting grid sizes (use '--' to access it
from javascript) */
:root {
  --rowCount: 16;
  --colCount: 16;
  --rowSelect: 2;
  --colSelect: 2;
}

html {
  font-family: 'Glass Antiqua';
  font-size: 3vmin;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 2em;
  font-weight: bolder;
}

/* Grid for page layout */

.containerAll {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.containerRed {
  display: grid;
  border: 1vmin solid black;
  border-radius: 10vmin;
  background-color: red;
  width: 100vmin;
  height: 80vmin;
  grid-template-columns: 18vmin 60vmin 18vmin;
  grid-template-rows: 10vmin auto auto auto 10vmin;
  grid-template-areas:
    'header header header'
    'left main right'
    'left main right'
    'left-btm main right-btm'
    'footer footer footer';
  align-items: center;
}

.header {
  grid-area: header;
  background-color: yellow;
}

.left {
  grid-area: left;
  background-color: white;
}

.left-btm {
  grid-area: left-btm;
  border: 1vmin solid black;
  border-radius: 50%;
  width: 15vmin;
  height: 15vmin;
  background-color: grey;
  align-self: center
}

.right {
  grid-area: right;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
  background-color: green;
}

/* 2nd grid in "main" for the main etch functionality */

.masterGrid {
  grid-area: main;
  display: grid;
  border: 1.5vmin solid black;
  border-radius: 3.5vmin;
  background-color: black;
  padding: 0.5vmin;
  width: 60vmin;
  height: 60vmin;
  grid-template-columns: repeat(var(--colCount), auto);
  grid-template-rows:  repeat(var(--rowCount), auto);
}

.cell {
  margin: 0.15vmin;
  border-radius: 1vmin;
  background-color: white;
  grid-column-start: auto;
  grid-row-start: auto;
}

/* cell colours */

.cellBlack {
  background-color: black;
}

/* Input text boxes & buttons */

input[type=text] {
  margin: 1vmin;
  border: 0.3vmin solid black;
  border-radius: 1vmin;
  padding: 0.5vmin;
  width: 5vmin;
  font-size: 1.8vmin;
  text-align: center;
}

.button {
  border: 1.5vmin solid black;
  border-radius: 3.5vmin;
  background-color: yellow;
}
